/*PC用*/

.card {
    text-align: center;
    padding: 3rem;
}

.card-deck {
    text-align: center;
}

.card-text {
    height: 2rem;
}

.content-icon {
    margin: 1rem;
    border-radius: 50%;
    /* 角丸半径を50%にする(=円形にする) */
    width: 60px;
    /* ※縦横を同値に */
    height: 60px;
}

.content-img {
    text-align: center;
    margin: 10%;
    width: 80%;
    height: 35rem;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #ccc;
}

.kakomi {
    margin: 2em auto;
    padding: 1em 3.5em;
    width: 75%;
    /*幅の調節*/
    background-color: #fff;
    /* 背景色 */
    border: 2px solid #ccc;
    /*線の太さ・色*/
    border-radius: 3px;
    box-shadow: 0.2px 0.4px 0.6px #ccc;
}

.inline-block {
    text-align: center;
}

.inline-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-block li {
    display: inline-block;
}


/*コメント欄*/

.item-header {
    padding: 10px;
}

.item-user-icon {
    float: left;
}

.item-user-name,
.item-date {
    display: block;
    margin-left: 60px;
}


/*ここまで*/

@media screen and (min-width: 767px) {
    /*ウィンドウ幅が767px以上の場合に適用*/
    .card {
        max-width: 20rem;
        min-width: 18rem;
        height: 31rem;
    }
    .btn {
        margin-top: 14px;
    }
}


/*タブレット用*/

@media screen and (max-width: 767px) {
    /*ウィンドウ幅が最大767pxまでの場合に適用*/
    .card {
        width: 30rem;
        min-width: 30rem;
        height: 40rem;
    }
    .card-text {
        height: 3rem;
    }
    .content-img {
        margin: 10%;
        width: 80%;
        height: 25rem;
    }
    .kakomi {
        margin-top: 1em;
        padding: 1em 1.5em;
        width: 75%;
    }
}


/*スマホ用*/

@media screen and (max-width: 479px) {
    /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .card {
        width: 24rem;
        min-width: 24rem;
        height: 31rem;
    }
    .content-img {
        margin: 10%;
        width: 80%;
        height: 25rem;
    }
    .kakomi {
        margin-top: 1em;
        padding: 1em 1em;
        width: 75%;
    }
}