/*
PC用*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
.body {
    font-family: 'Noto Sans JP', sans-serif;
}

.bg {
    background-image: url("image/top/bglcom.png");
}

.card {
    text-align: center;
    padding: 3rem;
}

.card-deck {
    text-align: center;
}

.card-text {
    height: 2rem;
}

.content-icon {
    margin: 1rem;
    border-radius: 50%;
    /* 角丸半径を50%にする(=円形にする) */
    width: 60px;
    /* ※縦横を同値に */
    height: 60px;
}

.content-img {
    text-align: center;
    margin: 10%;
    width: 80%;
    height: 35rem;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #ccc;
}

.kakomi {
    margin: 2em auto;
    padding: 1em 3.5em;
    width: 75%;
    /*幅の調節*/
    background-color: #fff;
    /* 背景色 */
    border: 2px solid #ccc;
    /*線の太さ・色*/
    border-radius: 3px;
    box-shadow: 0.2px 0.4px 0.6px #ccc;
}

.inline-block {
    text-align: center;
}

.inline-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-block li {
    display: inline-block;
}


/*ハンバーガーメニュー*/

.navbar {
    background-color: #011936;
    border-color: #3e6962;
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar-default {
    border-color: #3e6962;
}

.navbar-toggler {
    border-color: #8F2D56;
    background-color: #D81159;
}


/*検索フォーム*/

.form-control {
    width: 75%;
    margin-right: 10px;
}

.search_btn {
    border-radius: 3px;
}

.search_form2 {
    display: none;
}

.btn_form2 {
    display: none;
}


/*雲*/

#cloud_img {
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
    height: auto;
}

#lcom_img {
    padding: 100%;
}


/*anime*/

.anime {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    background-image: url("image/top/bglcom.jpg");
    position: relative;
}

.anime img {
    display: block;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mainSite {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("image/top/bglcom.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.mainSite h1 {
    font-family: 'Playfair Display', serif;
    padding-left: 60px;
    padding-top: 60px;
    margin: 0;
    font-size: 50px;
}


/*コメント欄*/

.item-header {
    padding: 10px;
}

.item-user-icon {
    float: left;
}

.item-user-name,
.item-date {
    display: block;
    margin-left: 60px;
}


/*ここまで*/

@media screen and (min-width: 767px) {
    /*ウィンドウ幅が767px以上の場合に適用*/
    .card {
        max-width: 20rem;
        min-width: 18rem;
        height: 31rem;
    }
    .btn {
        margin-top: 14px;
    }
}


/*タブレット用*/

@media screen and (max-width: 767px) {
    /*ウィンドウ幅が最大767pxまでの場合に適用*/
    .card {
        width: 30rem;
        min-width: 30rem;
        height: 40rem;
    }
    .card-text {
        height: 3rem;
    }
    .content-img {
        margin: 10%;
        width: 80%;
        height: 25rem;
    }
    .kakomi {
        margin-top: 1em;
        padding: 1em 1.5em;
        width: 75%;
    }
}


/*スマホ用*/

@media screen and (max-width: 479px) {
    /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .form-control {
        width: 75%;
        margin-right: 10px;
    }
    .card {
        width: 24rem;
        min-width: 24rem;
        height: 31rem;
    }
    .content-img {
        margin: 10%;
        width: 80%;
        height: 25rem;
    }
    .kakomi {
        margin-top: 1em;
        padding: 1em 1em;
        width: 75%;
    }
}

@media screen and (max-width: 400px) {
    /*ウィンドウ幅が最大400pxまでの場合に適用*/
    .form-control {
        display: none;
    }
    .search_btn {
        display: none;
    }
    .search_form2 {
        display: inline;
        margin-right: 3%;
        border-radius: 7px;
    }
    .btn_form2 {
        display: inline;
        border-radius: 3px;
    }
    .card {
        width: 24rem;
        min-width: 24rem;
        height: 31rem;
    }
    .content-img {
        margin: 10%;
        width: 80%;
        height: 25rem;
    }
    .kakomi {
        margin-top: 1em;
        padding: 1em 1em;
        width: 75%;
    }
}